.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px, 1fr;
    grid-template-columns: 2fr, 10fr;
    /* grid-gap: 10px; */
    grid-template-areas:
"h h"
"n c"
}



.header {
    grid-area: h;
    background-color: green;
}

.header img {
    width: 20px;
}
.nav {
    grid-area: n;
}

.profile {
    
    grid-area: c;
}
.img-profile {
    width: 1000px;
    height: 200px;
}

.my-img {
    height: 150px;
}
.sidebar {
    background-color: yellow;
    width: 200px;
    height: 600px;
}

.my-profile {
    display: flex;
}

.button {
    background-color: green;
}